@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Sriracha&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Sriracha', cursive;
}
:root{
    --primary:#2E839E;
    --secondary:#845EC2;
    --box-shadow:#DFf1F8;
    --font:font-family: 'Montserrat', sans-serif;
}